.response-modal {
  .modal-header {
    border-bottom: none;
    padding: 1.5rem;
  }

  .modal-body {
    padding: 1.5rem;

    .api-response-details {
      border: 1px solid #dee2e6;

      pre {
        background: white;
        padding: 0.5rem;
        border-radius: 4px;
        color: #495057;
      }
    }
  }



  .modal-footer {
    border-top: none;
    padding: 1.5rem;
  }
}